<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Multi-Tools</h5>
                <p>A collection of free online tools to help you with various tasks. All tools are free to use and require no registration.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white">Home</a></li>
                    <li><a href="#image-tools" class="text-white">Image Tools</a></li>
                    <li><a href="#text-tools" class="text-white">Text Tools</a></li>
                    <li><a href="#seo-tools" class="text-white">SEO Tools</a></li>
                    <li><a href="#math-tools" class="text-white">Math Tools</a></li>
                    <li><a href="#social-tools" class="text-white">Social Tools</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:contact@multitools.com" class="text-white">Email Us</a></li>
                    <li><a href="#" class="text-white">Report a Bug</a></li>
                    <li><a href="#" class="text-white">Suggest a Tool</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 Multi-Tools. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-white me-3">Privacy Policy</a>
                <a href="#" class="text-white me-3">Terms of Service</a>
                <a href="#" class="text-white">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer> 